@font-face {
    font-family: aileron;
    src: url(Aileron-Regular.otf);
}

/* navbar */

.navbar {
    height: 4vh;
    margin: 0;
    border: none;
}

.navbar-header, .navbar-collapse {
    background-color: #000;
    color: #fff;
    padding: 0 15px;
}

.navbar-brand {
    color: #fff !important;
}

#navbar {
    padding: 0;
    font-family: aileron, sans-serif;
}

.navbar-toggle {
    border: none;
    /*transition: all .5s ease 0s;*/
    margin: 8px 7px;
}

.navbar-toggle:hover, .navbar-brand:hover {
    cursor: pointer;
    color: #ffd700;
    background: none !important;
}

.navbar-toggle-break {
    margin: 10px 0 8px 0;
    font-size: 22px;
}

/* body */

#body {
    height: 96vh;
    text-align: center;
    font-family: aileron, sans-serif;
    background-image: linear-gradient(to left, #d3d3d3 0%, #fff 50%, #d3d3d3 100%);
}

.name-title {
    margin: 10vh auto 10vh auto;
}

.name {
    font-size: 36px;
}

.title {
    font-size: 20px;
}

.buttons-information {
    position: relative;
}

.menu-buttons {
    width: 200px;
    margin: 0 40% 0 40%;
    transition: margin 1s linear;
}

.menu-button {
    width: 200px;
    height: 100px;

    background-color: #000;
    color: #fff;

    margin: 10px;
}

.menu-button:hover {
    color: #ffd700;
    font-size: 18px;
}


.information {
    position: absolute;
    left: 250px;
    top: 0;
    font-size: 18px;
    padding: 50px;
    text-align: left;
}

.information-body {
    border: 3px solid black;
    background-color: #d3d3d3;
    height: 400px;
    padding: 15px;
    font-family: aileron, sans-serif;
    font-size: 20px;
}

.ind-project {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 5px 10px;
}

.ind-project-img {
    width: 200px;
    height: 170px;
}

.ind-project-title {
    width: 200px;
    height: 15px;
    text-align: center;
}

.ind-project-repo-link {
    width: 200px;
    height: 15px;
    margin: 0 auto;
    font-size: 14px;
    display: block;
    text-align: center;
}

.ind-project-repo-link i {
    margin: 0 10px;
}

.hidden {
    display: none;
}

